body {
    font-family:Arial;
    font-size:12px
}

.centerBody {
    text-align:center;
}

.centerStuff {
    margin-left: auto;
    margin-right: auto;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.cardImg {
    height: 20rem;
    width: 20rem;
    object-fit: none;
}

.jumboImg {
    height: 15rem;
    width: auto;
}
